<div class="jumbotron">
    <p>Hey, hai <span class="badge badge-danger" *ngIf="notifica">{{notifica}}</span> notifiche</p>
    <p>Hey, hai <span class="badge badge-danger" *ngIf="post">{{post}}</span> Post</p>
    <p>Hey, hai <span class="badge badge-danger" *ngIf="commenti">{{commenti}}</span> Commenti</p>
    <p>Hey, hai <span class="badge badge-danger" *ngIf="album">{{album}}</span> Album</p>
    <p>Hey, hai <span class="badge badge-danger" *ngIf="foto">{{foto}}</span> Foto</p>
  
  <p>
      {{saluto}}  
</p>
<p *ngIf="booleano">
  questo è il mio numero: {{numero}} 
</p>
<input type="radio" id=""  [checked]="booleano">{{booleano}}
<br><br>
<button class="btn bg-primary text-white" (click)="changeBoolean()">Mostra</button>


<!--Div messaggio -->


<ul>
  <li *ngFor="let vet of nomi">{{vet}}</li>
</ul>
<div id="heyla">
  <p (event)="setDataFromBody($event)"></p>
</div>

